<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Devoir</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
    
    <!-- Configuration des Servlets -->
    <servlet>
        <servlet-name>TestDatabaseServlet</servlet-name>
        <servlet-class>servlets.TestDatabaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestDatabaseServlet</servlet-name>
        <url-pattern>/test-database</url-pattern>
    </servlet-mapping>

    <!-- Configuration des Filtres -->
   

    <!-- Configuration de l'Accueil -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>


  
</web-app>